
<div id="header">
          <div class="nav">
<asdf><img src="http://i43.tinypic.com/j7xlyv.png"></asdf>
               <p> TeamCal &nbsp; &nbsp; &nbsp; &nbsp;<%= link_to "home", root_path %> &nbsp; <%= link_to "users", users_path %> &nbsp; <%= link_to "calendar", events_path %> &nbsp; <%= link_to "availability", free_times_path %> &nbsp; <%= link_to 'â†Back', :back %></p>
          </div>
     </div>
</br></br></br>

<center><h4>Edit user</h4></center>

<%= render 'form' %><br>

