<div id="header">
          <div class="nav">
<asdf><img src="http://i43.tinypic.com/j7xlyv.png"></asdf>
               <p> TeamCal &nbsp; &nbsp; &nbsp; &nbsp;<%= link_to "home", root_path %> &nbsp; <%= link_to "users", users_path %> &nbsp; <%= link_to "calendar", events_path %> &nbsp; <%= link_to "availability", free_times_path %> &nbsp; <%= link_to 'â†Back', :back %></p>
          </div>
     </div>
</br></br></br>

<center><h4>Group Calendar</h4> </center><br><br>
<center>
<table>
  <tr>
    <th><h2>Title &nbsp; &nbsp;</h2><hr></th>
    <th><h2>Start time &nbsp; &nbsp;</h2><hr></th>
    <th><h2>End time &nbsp; &nbsp; </h2><hr></th>
    <th><h2>User</h2> <hr></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
<tr>   
    <td> <h3> <%= event.title %> &nbsp; &nbsp;</h3></td>
    <td> <h3> <%= event.starttime.strftime('%b %e, %Y at %l:%M %p') %> &nbsp; &nbsp; </h3></td>
    <td> <h3> <%= event.endtime.strftime('%b %e, %Y at %l:%M %p') %> &nbsp; &nbsp; </h3></td>
    <td> <h3> <%= User.find_by_id(event.user_id)[:name] %></h3></td>
    <td> <h3> &nbsp; &nbsp; <%= link_to 'Edit', edit_event_path(event) %></h3></td>
    <td> <h3>&nbsp; <%= link_to 'Remove', event, confirm: 'Are you sure you want to remove this event?', method: :delete %></td>
  </tr>
<% end %>
</table></center>

<br />
<br><br>

<center><div class="button"><%= link_to 'Add a New Event', new_event_path %></div></center>
