<div id="header">
          <div class="nav">
	<asdf><img src="http://i43.tinypic.com/j7xlyv.png"></asdf>
               <p> TeamCal &nbsp; &nbsp; &nbsp; &nbsp;<%= link_to "home", root_path %> &nbsp; <%= link_to "users", users_path %> &nbsp; <%= link_to "calendar", events_path %> &nbsp; <%= link_to "availability", free_times_path %> &nbsp; <%= link_to '←Back', :back %></p>
          </div>
     </div>
</br></br></br>

  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script>
    $(document).ready(function(){
      $("buttons.week1_click").click(function(event){
        $("#week1table").toggle();
        event.preventDefault();
      });
    });
    $(document).ready(function(){
      $("buttons.week2_click").click(function(event){
        $("#week2table").toggle();
        event.preventDefault();
      });
    });
	$(document).ready(function(){
      $("buttons.week3_click").click(function(event){
        $("#week3table").toggle();
        event.preventDefault();
      });
    });
	$(document).ready(function(){
      $("buttons.week4_click").click(function(event){
        $("#week4table").toggle();
        event.preventDefault();
      });
    });
  </script>

<center><h4>Group Meeting Availability</h4><br><br>
	
	<center>
		<table>
	<div class = "undertitle2">The Next Time Your Group Is Available to Meet is:</div>
			<% @order.take(1).each do |hour| %>
				<h2><%= hour.time.strftime('%A %b %e, %Y at %l:%M %p') %> </h2>
			<% end %>
		</table>
		</center><br><br>
		
			<div class="undertitle2">Click on each week to expand all of the available meeting times</div><br><br>

				
	<buttons class = "week1_click">↓ Week of 4/1-4/7</buttons><br/>
<table id = 'week1table' class = 'weeklytable'>
			<tr></tr>
			<tr></tr>
			<tr>
				<td class = "column1" ></td>
				<th> 8am </th>
				<th> 9am </th>
				<th> 10am </th>
				<th> 11am </th>
				<th> 12pm </th>
				<th> 1pm </th>
				<th> 2pm </th>
				<th> 3pm </th>
				<th> 4pm </th>
				<th> 5pm </th>
				<th> 6pm </th>
				<th> 7pm </th>
				<th> 8pm </th>
				<th> 9pm </th>
				<th> 10pm </th>
				<th> 11pm </th>
			</tr>
			<tr>
			<td class = "column1" >Sunday 4/1</td>
			<% @sunday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Monday 4/2</td>
			<% @monday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>;">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Tuesday 4/3</td>
			<% @tuesday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Wednesday 4/4</td>
			<% @wednesday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Thursday 4/5</td>
			<% @thursday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Friday 4/6</td>
			<% @friday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Saturday 4/7</td>
			<% @saturday1all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

</table>

<br>


<buttons class = "week2_click">↓ Week of 4/8-4/14</buttons><br/>
<table id = 'week2table' class = 'weeklytable'>
			<tr></tr>
			<tr></tr>
			<tr>
				<td class = "column1" ></td>
				<th> 8am </th>
				<th> 9am </th>
				<th> 10am </th>
				<th> 11am </th>
				<th> 12pm </th>
				<th> 1pm </th>
				<th> 2pm </th>
				<th> 3pm </th>
				<th> 4pm </th>
				<th> 5pm </th>
				<th> 6pm </th>
				<th> 7pm </th>
				<th> 8pm </th>
				<th> 9pm </th>
				<th> 10pm </th>
				<th> 11pm </th>
			</tr>
			<tr>
			<td class = "column1" >Sunday 4/8</td>
			<% @sunday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Monday 4/9</td>
			<% @monday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>;">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Tuesday 4/10</td>
			<% @tuesday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Wednesday 4/11</td>
			<% @wednesday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Thursday 4/12</td>
			<% @thursday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Friday 4/13</td>
			<% @friday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Saturday 4/14</td>
			<% @saturday2all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

</table>

<br>

<buttons class = "week3_click">↓ Week of 4/15-4/21</buttons><br/>
<table id = 'week3table' class = 'weeklytable'>
			<tr></tr>
			<tr></tr>
			<tr>
				<td class = "column1" ></td>
				<th> 8am </th>
				<th> 9am </th>
				<th> 10am </th>
				<th> 11am </th>
				<th> 12pm </th>
				<th> 1pm </th>
				<th> 2pm </th>
				<th> 3pm </th>
				<th> 4pm </th>
				<th> 5pm </th>
				<th> 6pm </th>
				<th> 7pm </th>
				<th> 8pm </th>
				<th> 9pm </th>
				<th> 10pm </th>
				<th> 11pm </th>
			</tr>
			<tr>
			<td class = "column1" >Sunday 4/15</td>
			<% @sunday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Monday 4/16</td>
			<% @monday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>;">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Tuesday 4/17</td>
			<% @tuesday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Wednesday 4/18</td>
			<% @wednesday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Thursday 4/19</td>
			<% @thursday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Friday 4/20</td>
			<% @friday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Saturday 4/21</td>
			<% @saturday3all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

</table>

<br>

<buttons class = "week4_click">↓ Week of 4/22-4/28</buttons><br/>
<table id = 'week4table' class = 'weeklytable'>
			<tr></tr>
			<tr></tr>
			<tr>
				<td class = "column1" ></td>
				<th> 8am </th>
				<th> 9am </th>
				<th> 10am </th>
				<th> 11am </th>
				<th> 12pm </th>
				<th> 1pm </th>
				<th> 2pm </th>
				<th> 3pm </th>
				<th> 4pm </th>
				<th> 5pm </th>
				<th> 6pm </th>
				<th> 7pm </th>
				<th> 8pm </th>
				<th> 9pm </th>
				<th> 10pm </th>
				<th> 11pm </th>
			</tr>
			<tr>
			<td class = "column1" >Sunday 4/22</td>
			<% @sunday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Monday 4/23</td>
			<% @monday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>;">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Tuesday 4/24</td>
			<% @tuesday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Wednesday 4/25</td>
			<% @wednesday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Thursday 4/26</td>
			<% @thursday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Friday 4/27</td>
			<% @friday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

			<tr>
			<td class = "column1">Saturday 4/28</td>
			<% @saturday4all.each do |hour| %>
				<% if hour.numberbusy == 0 %>
						<td style="<%= @style_free %>">O</td>
				<% else %>
						<td style="<%= @style_busy %>">X</td>
				<% end %>
			<% end %>
			</tr>

</table>